{% extends 'base2.html' %}

{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load static %}

{% block title %}TokyoTech_StamprallyProject | home {% endblock %}

{% block head %}
<link href="{% static 'css/home_style.css' %}" rel="stylesheet">
{% endblock %}

{% block contents %}
<section class="hero">
    <h1>ホーム</h1>
    <p>ここから作成してほしい！！</p>

    {% if user.is_authenticated %}
        <a href=""><p>プロフィール設定</p></a> <!--開発中...-->
        <a href="{% url 'accounts:logout' %}"><p>ログアウト</p></a>
    {% endif %}

</section>
{% endblock %}

