{% extends 'base.html' %}

{% load static %}

{% block title %}TokyoTech_StamprallyProject{% endblock %}

{% block head %}
<link href="{% static 'css/index_style.css' %}" rel="stylesheet">
{% endblock %}

{% block contents %}
<section class="hero">
        
    <img src= "{% static "img/school.svg" %}" class="school">
    <h1>Tokyo Tech</h1>
    <h1>人間スタンプラリー</h1>
    <h1>プロジェクト</h1>

    <p class="caption">ユニットが近い人同士で話しかけるきっかけをつくりました。</p>
    <p class="getstarted">Get Started!!</p>
    <a href="{% url 'accounts:login' %}"><img src="{% static "img/start.svg" %}" class="start"></a>
    

    
</section>  
{% endblock %}