{% extends 'base.html' %}

{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load static %}

{% block title %}TokyoTech_StamprallyProject | login {% endblock %}

{% block head %}
<link href="{% static 'css/login_style.css' %}" rel="stylesheet">
{% endblock %}

{% block contents %}
<section class="hero">
    <h1>WELCOME</h1>

    {% if user.is_authenticated %}
    <p>ログインは完了しています</p>
    <a class="btn btn-primary btn-lg" href="{% url 'base:home' %}">ホーム</a>
    <p></p>
    <a class="btn btn-primary btn-lg" href="{% url 'accounts:logout' %}">ログアウト</a>

    {% else %}
    <form method="post" class="form">
        {% csrf_token %}
        <input type="hidden" name="text" value="{{ next }}">
        {% bootstrap_form form %}
        <button type="submit" class="btn btn-primary">ログイン</button>
    </form>

    <a href="{% url 'accounts:user_create' %}"><p class="p">アカウントを作成</p></a>

    
    {% endif %}
</section>

    
  

{% endblock %}