{% extends 'base.html' %}

{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load static %}

{% block title %}TokyoTech_StamprallyProject | profile create{% endblock %}

{% block head %}
<link href="{% static 'css/profile_create_style.css' %}" rel="stylesheet">
{% endblock %}

{% block contents %}
<section class="hero">
    <h1>プロフィール設定</h1>
    <form method="POST">
        {% csrf_token %}
        <input type="hidden" name="text" value="{{ next }}">
           {% bootstrap_form form %}
           <button type="submit" class="btn btn-primary">完了</button>
       </form>
</section>
{% endblock %}