{% extends 'base.html' %}

{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load static %}

{% block title %}TokyoTech_StamprallyProject |signup done{% endblock %}

{% block head %}
<link href="{% static 'css/user_create_done_style.css' %}" rel="stylesheet">
{% endblock %}

{% block contents %}
<section class="hero">
    <h1 class="signup">Sign Up</h1>
    <h1>Done</h1>

    <p class="message">会員登録確認メールを送信しました。<br>
        まだ、会員登録は完了していません。<br>
        確認メールを送信しましたので、<br>
        確認メールに記載されているリンクから<br>
        本登録を行ってください。</p>
   
</section>
{% endblock %}