{% extends 'base.html' %}

{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load static %}

{% block title %}TokyoTech_StamprallyProject |signup{% endblock %}

{% block head %}
<link href="{% static 'css/user_create_style.css' %}" rel="stylesheet">
{% endblock %}


{% block contents %}
<section class="hero">
    <h1>Sign Up</h1>
    <p>メールアドレスはmアドレスを使ってください！</p>
    <form method="POST">
     {% csrf_token %}
     <input type="hidden" name="text" value="{{ next }}">
        {% bootstrap_form form %}
        <button type="submit" class="btn btn-primary">Sign Up</button>
    </form>
</section>
{% endblock %}
