{% extends 'base.html' %}

{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load static %}

{% block title %}TokyoTech_StamprallyProject |signup complete{% endblock %}

{% block head %}
<link href="{% static 'css/user_create_complete_style.css' %}" rel="stylesheet">
{% endblock %}

{% block contents %}
<section class="hero">
    <h1>Sign Up</h1>
    <h1>Completed!</h1>
    <p class="message">
        本登録が完了しました。<br>
        プロフィール設定に進んでください<br>
    </p>
    
    <a class="btn btn-primary btn-lg" href="{% url 'accounts:profile_create' %}">プロフィール設定</a>
    
</section>
{% endblock %}