section{
    height: 30vh;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}

.hero{
    background-image: url(../img/blue-circle.svg);
    text-align: center;
    padding-top: 10vh;
    flex: 1;
}

.hero h1{
    font-family: 'Raleway', sans-serif;
    color: #305F72;
    font-size: 2.8rem;
    margin: 6rem;
}

.p{
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    color: #305F72;
    margin: 0.1em;
}